html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $Lexend-Deca-font;
}

h2{
    font-family: $Big-Shoulders-font;
}

a {
    text-decoration: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }